[submodule "baytrail-m"]
	path = baytrail-m
	url = https://github.com/AdamWill/baytrail-m
[submodule "kernel_gcc_patch"]
	path = kernel_gcc_patch
	url = https://github.com/graysky2/kernel_gcc_patch.git
[submodule "patches/kernel/kernel_gcc_patch"]
	path = patches/kernel/kernel_gcc_patch
	url = https://github.com/graysky2/kernel_gcc_patch.git
[submodule "linux-asus-t100ta"]
	path = linux-asus-t100ta
	url = https://github.com/jfwells/linux-asus-t100ta.git
[submodule "bluetooth/rtl8723bs_bt"]
	path = bluetooth/rtl8723bs_bt
	url = https://github.com/lwfinger/rtl8723bs_bt.git
[submodule "rtl8723bs"]
	path = rtl8723bs
	url = https://github.com/hadess/rtl8723bs.git
[submodule "sound/usr/share/ucm"]
	path = sound/usr/share/ucm
	url = https://github.com/plbossart/UCM.git
